@import "tailwindcss";

@plugin "tailwindcss-motion";

*::-webkit-scrollbar {
  width: 0.5rem;
  /* Larghezza della scrollbar */
}

*::-webkit-scrollbar-track {
  border-radius: 9999px;
  /* Arrotondamento del track */
  background-color: #E7E5E4;
  /* Colore del track (grigio chiaro) */
}

*::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  /* Arrotondamento del thumb */
  background-color: #D6D3D1;
  /* Colore del thumb (grigio medio) */
}

.no-scrollbar {
  scrollbar-width: none;
  /* Nasconde la scrollbar in Firefox */
  -ms-overflow-style: none;
  /* Nasconde la scrollbar in IE/Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Nasconde la scrollbar nei browser WebKit */
}

button {
  @apply cursor-pointer
}

nav button {
  @apply rounded-2xl motion-scale-in-110 hover:motion-scale-out-110 px-10 py-4
}